footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1c86ee;
    text-align: left;
    position: fixed;
  }

.Links {
    color: white
  }

  /* The grid: Four equal columns that floats next to each other */
.columngallery {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.columngallery img {
  opacity: 0.8;
  cursor: pointer;
}

.columngallery img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.rowgallery:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.containergallery {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

